.carousel{
  overflow: hidden;
  scroll-snap-type: x mandatory;
  touch-action: pan-x;
  display: flex;
}

.carousel__img{
  width: 100%;
  scroll-snap-align: start;
}

.carousel__buttons{
  margin-top: 10px;
  display: flex;
}

.carousel__button{
  width: 32px;
  height: 32px;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  margin-left: 10px;
  z-index: 1;
}

.carousel__button:hover{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px){ 
  .carousel__button{
    width: 64px;
    height: 64px;
  }

  .carousel__button:hover{
    opacity: 1.0;
  }
}

.carousel__button:first-child{
  margin-left: 0px;
}

.button_left{
  background-image: url('../img/left-arrow.png');
}

.button_right{
  background-image: url('../img/right-arrow.png');
}
