.footer{
  background-color: #2a2722;
  padding: 32px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* @media screen and (max-width: 768px){  */
@media screen and (max-width: 950px){ 
  .footer{
    flex-direction: column;
    justify-content: center;
    padding: 32px 0px;
  }
}

.footer-icons, .footer-links{
  list-style: none;
}

.footer-icons{
  margin-left:40px;
  display: flex;
}

@media screen and (max-width: 950px){ 
  .footer-icons{
    margin-bottom:20px;
  }
}

.footer-icons:first-child{
  margin-left: 0px;
}

.footer-icon{
  width: 130px;
  height: 60px;

  margin-left: 60px;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (max-width: 1290px){ 
  .footer-icon{
    margin-left:20px;
    width: 100px;
  }
}

.footer-icon:hover{
  animation: GrowShrink 0.5s ease-in-out infinite;
}

.footer-icon:first-child{
  margin-left: 0px;
}

.icon_dreamworks{
  background-image: url('../img/dreamworks-icon.png');
}

.icon_captain-underpants{
  background-image: url('../img/captain-underpants-icon.png');
}

.icon_rating{
  background-image: url('../img/rating-icon.png');
}

@media screen and (max-width: 950px){ 
  .icon_dreamworks{
    background-image: url('../img/dreamworks-icon-grey.png');
  }
  
  .icon_captain-underpants{
    background-image: url('../img/captain-underpants-icon-grey.png');
  }
  
  .icon_rating{
    background-image: url('../img/rating-icon-grey.png');
  }
}

.footer-links-wrapper{
  font-family: Arial, Helvetica, sans-serif;
}

.footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.footer-copyright{
  color: white;
  text-align: right;
  margin-top: 6px;
}

@media screen and (max-width: 1290px){ 
  .footer-copyright{
    font-size: 12px;
  }
}

@media screen and (max-width: 960px){ 
  .footer-copyright{
    font-size: 10px;
  }
}

@media screen and (max-width: 950px){ 
  .footer-copyright{
    font-size: 12px;
    text-align: center;
    color: #5f5f5f;
  }
}

.footer-link{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 960px){ 
  .footer-link{
    font-size: 10px;
  }
}

@media screen and (max-width: 950px){ 
  .footer-link{
    font-size: 12px;
    color: #5f5f5f;
  }

  .footer__divider{
    color: #5f5f5f;
  }
}

.footer-link-item{
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 1290px){ 
  .footer-link-item{
    font-size: 12px;
  }
}


@keyframes GrowShrink {
  0%,100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.15);
  }
}