.home{
  width: 100%;
  background-image: url('../img/key-art-full-1.jpg');
  background-color: #6e0506;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

@media screen and (max-width: 768px){
  .home{
    background-image: url('../img/main-bg.jpg');
  }
}

.home__overlay{
  width: 100%;
  min-height: 1100px;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

@media screen and (max-width: 768px){ 
  .home__overlay{
    background-image: url('../img/key-art-full-mobile.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1350px;
  }
}

/* @media screen and (max-width: 768px){
} */

.home__promo-flexbox{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){ 
  .home__promo-flexbox{
    padding: 32px;
    flex-direction: column;
    align-items: center;
  }
}

.home__promo-container{
  width: 350px;
  padding-bottom: 120px;
}

@media screen and (max-width: 768px){ 
  .home__promo-container{
    padding-bottom: 0px;
    margin-bottom: 50px;
  }
}

.home__promo-container.promo_tout{
  left: 60px;
  bottom: 50px;
}

.home__carousel-img{
  width: 100%;
  scroll-snap-align: start;
}


.home__carousel{
  overflow: hidden;
  scroll-snap-type: x mandatory;
  touch-action: pan-x;
  display: flex;
}

.home__promo-tout-buttons{
  margin-top: 10px;
  display: flex;
}

.home__promo-tout-button{
  width: 32px;
  height: 32px;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  margin-left: 10px;
  z-index: 1;
}

@media screen and (max-width: 768px){ 
  .home__promo-tout-button{
    width: 64px;
    height: 64px;
  }
}

.home__promo-tout-button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.home__promo-tout-button:first-child{
  margin-left: 0px;
}

.button_left{
  background-image: url('../img/left-arrow.png');
}

.button_right{
  background-image: url('../img/right-arrow.png');
}

.home__sign-promo{
  width: 100%;
}

.home__promo-link:hover{
  opacity: 1.0;
}

.home__promo-container.promo_promo{
  right: 60px;
  bottom: 60px;
  text-align: right;
}

.promo_promo:hover{
  animation: MoveUpDown 0.5s linear infinite;
}

.home__border{
  position: absolute;
  bottom: 0;
  z-index: 0;
}

@keyframes MoveUpDown {
  0%,100%{
    bottom: 10;
  }
  50% {
    bottom: 80px;
  }
}