@import url(home2.css);
@import url(story.css);
@import url(footer.css);
@import url(carousel.css);

/* fonts */
@import url(./fonts/fonts.css);

/* dev */
.dev{
  position: sticky;
  top:0;
  left: 0;
  background-color: white;
  clear: both;
}

body{
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

button{
  appearance: none;
  text-rendering: none;
  color: none;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  border-color: none;
  border-image: none;
}

p, ul{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

a:hover{
  opacity: 0.8;
}