@import url(home.css);
@import url(story.css);
@import url(footer.css);

/* fonts */
@import url(./fonts/fonts.css);

body{
  box-sizing: border-box;
  height: 100%;
}

button{
  appearance: none;
  text-rendering: none;
  color: none;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  border-color: none;
  border-image: none;
}

p, ul{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

a:hover{
  opacity: 0.8;
}