.story{
  background-image: url('../img/white-circle-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
}

@media screen and (max-width: 1276px){ 
  .story{
    padding: 64px;
  }
}

@media screen and (max-width: 960px){ 
  .story{
    font-size: 12px;
  }
}

@media screen and (max-width: 768px){ 
  .story{
    font-size: 16px;
    padding: 32px;
    flex-direction: column;
  }
}

.story__text-container{
  max-width: 40%;
  max-height: 500px;
}

@media screen and (max-width: 768px){ 
  .story__text-container{
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.story__star-ico{
  width: 48px;
  visibility: visible;
  display: block;
}

@media screen and (max-width: 768px){ 
  .story__star-ico{
    visibility: hidden;
    display: none;
  }
}

.story__title{
  font-family: 'Barrio', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 40px;
  display: flex;
}

.story__description{
  font-family: 'McLaren', 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-style: normal;
  margin-left: 48px;
  line-height: 1.5em;
  overflow-y: -moz-scrollbars-vertical; 
  overflow-y: scroll; 
  max-height: 200px;
}

.story__description::-webkit-scrollbar {
  width: 10px;
}

.story__description::-webkit-scrollbar-track {
  background: #fff;
}

.story__description::-webkit-scrollbar-thumb {
  background-color: 	rgb(255, 0, 0);
}

.story__description::-webkit-scrollbar-thumb:hover {
  background-color: 	rgba(255, 0, 0,0.8);
}

@media screen and (max-width: 1290px){ 
  .story__description{
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px){ 
  .story__description::-webkit-scrollbar{
    display: none;
  }

  .story__description{
    max-height: none;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


.story__img-container{
  margin-left: 100px;
  max-width: 50%;
}

@media screen and (max-width: 768px){ 
  .story__img-container{
    margin-left: 0px;
    margin-top: 150px;
    max-width: 100%;
  }
}

.story__img{
  width: 100%;
}

@media screen and (max-width: 768px){ 
  .story__img{
    height: 100%;
  }
}

