.story{
  background-image: url('../img/overlay-circles-white.png');
  background-size: 100%;
  padding: 110px;
  display: flex;
  align-content:space-between;
}

.story__star-ico{
  width: 48px;
}

.story__title{
  /* font-family: 'Barrio', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; */
  font-family: 'Barrio';
  font-style: normal;
  font-size: 48px;
  margin-bottom: 40px;
}

.story__description{
  font-family: 'McLaren';
  font-style: normal;
}