.story{
  background-image: url('../img/white-circle-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
}

@media screen and (max-width: 1276px){ 
  .story{
    padding: 64px;
  }
}

@media screen and (max-width: 768px){ 
  .story{
    padding: 32px;
    flex-direction: column;
  }
}

.story__text-container{
  max-width: 40%;
  max-height: 500px;
}

@media screen and (max-width: 768px){ 
  .story__text-container{
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.story__star-ico{
  width: 48px;
  visibility: visible;
  display: block;
}

@media screen and (max-width: 768px){ 
  .story__star-ico{
    visibility: hidden;
    display: none;
  }
}

.story__border-span{
  background: red;
  height: 60px;
  width: 60px;
  margin-left: 48px;
  display: block;
  visibility: visible;
}

@media screen and (max-width: 768px){ 
  .story__border-span{
    margin-left: 0px;
    display: none;
    visibility: hidden;
  }
}

.story__title{
  font-family: 'Barrio', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 40px;
}

.story__description{
  font-family: 'McLaren', 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-style: normal;
  display: flex;
  margin-left: 48px;
  line-height: 1.5em;
}

@media screen and (max-width: 1290px){ 
  .story__description{
    margin-left: 0px;
  }
}

.story__img-container{
  margin-left: 100px;
  max-width: 50%;
  /* height: 500px; */
}

@media screen and (max-width: 768px){ 
  .story__img-container{
    margin-left: 0px;
    max-width: 100%;
  }
}

.story__img{
  width: 100%;
}

@media screen and (max-width: 768px){ 
  .story__img{
    height: 100%;
  }
}

